.card{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 350px;
    width: 250px;

    border: 1px solid var(--purple-100);
    border-radius: 0.3rem;


    padding: 0.5rem 1rem;

    h4{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;

        color: var(--purple-100);

        text-align: center;
    }

    .text{
        font-size: 0.8rem;
        font-weight: 300;
        margin-bottom: 0;
        text-transform: initial;

        display: flex;
        align-items: center;

        min-height: 100px;
    }

    .comment{
        font-size: 0.8rem;
        font-weight: 300;

        margin-bottom: 0;

        text-transform: initial;

        color: var(--purple-100);
    }

}